apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: app
  name: data
  namespace: jultelegrafen
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: ceph-block
